.servces{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.servces .service{
    display: flex;
    width: 20%;
    align-items: center;
    padding:  20px;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
}
.servces .service h2{
    font-weight: normal  ;
    font-size: 25px;
}
.servces .service .iconsO{
    color: var(--main-color);
    font-size: 30px;
}
/* Start Dark */
.app-dark .service{
    background-color: #222;
}
/* End Dark */