.About{
    display: flex;
    gap: 70px;
    

}
.About span{
    color: var(--main-color);
}
.About  .aboutL{
    width: 40%;
}
.About  .aboutL img{
    width: 100%;
}
.About  .aboutR{
    width: 50%;
}
.About  .aboutR h1{
    font-size: 45px;
    letter-spacing: 1.5;
}
.About  .aboutR h3{
    color: gray;
    line-height: 1.5;
    font-size: 20px;
}
.About  .aboutR h3 span{
    font-size: 25px;
}
.About  .aboutR button{
    margin-top: 30px;
    border: none;
    outline: none;
    padding: 15px 25px;
    font-size: 25px;
    transition: var(--transit-transition);
    border: solid 2px var(--main-color);
    color: var(--main-color);
}
.About  .aboutR button:hover{
    background-color: var(--main-color);
    color: white;
}
/* Start  Dark */
.app-dark .About button{
    background-color: #222;
}
/* End
  Dark */