.cart{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.cart  .products-carts{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart .total{
    width: 35%;
    background-color: white;
    height:max-content;
    padding: 10px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-carts{
    display: flex;
    width: 95%;
    padding: 15px;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}
.product-carts img{
    object-fit: contain;
    width: 70px;
    height: 70px;
}
.img{
    display: flex;
    gap: 20px;
    align-items: end;
}
.img h5{
    color: gray;
    opacity: 0.7;
}
.product-carts button{
    background-color: red;
    color: white;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 10px 8px;
}
.Empty{
    text-align: center;
    font-size: 35px ;
    color: var(--main-color);
}
.counter {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Start Dark */
.app-dark .product-carts ,.app-dark .total{
    background-color: #222;
}
/* End Dark */