.downs{
    background-color: #ccc;
    padding: 20px;
    margin: auto;
    text-align: center;
  
}
.downs .down{
    width: 100%;
    text-align: center;
    margin: auto;

}
.downs .down img{
    width: 60%;
    margin: auto;
    padding: 10px;
    
}
/* Start  dark */
.app-dark .downs{
background-color: #222;
}
/* End  dark */